.Rproj.user
.Rhistory
.Rbuildignore
.RData
.rds
.Ruserdata
*.scpt
.Renviron
# knitr and R markdown default cache directories
/*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user
# Raw data directory, as it might get pretty big.
#/data-raw/coded_text_mex
.httr-oauth
data/articles_db.rds
data/segments_db.rds
data/events_db.rds

data-raw/mesh-ontology/mesh.rds