.Rproj.user
.Rhistory
.Rbuildignore
.RData
.rds
.Ruserdata
.DS_Store
*.scpt
.Renviron
# knitr and R markdown default cache directories
/*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user
# Raw data directory, as it might get pretty big.
#/data-raw/coded_text_mex
.httr-oauth
data-raw/mesh-ontology
data-raw/ncbi-ontology
scripts/archive
screening/literature/search-results.csv
