.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user

# Raw data directory, as it might get pretty big.
/data-raw/
/data/coded_text_mex